{{ header }}

<div class="container">
    <div id="content">
        <p>Спасибо за Ваш заказ!<br>  Мы рады сообщить, что Ваш заказ успешно оплачен и передан в обработку.</p>
        <p><a style="color: #0066CC; text-decoration: none; font-size: 30px" href="index.php?route=account/download">Скачать купленные файлы</a> </p>
    </div>
</div>

{{ footer }}