{{ header }}{{ column_left }}

<div class="container">
    <div id="content">
        <p>Платеж не прошел<br>  К сожалению, ваш платеж не был обработан. Пожалуйста проверьте данные карты и попробуйте еще раз..</p>
    </div>
</div>

{{ footer }}

